// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

body {
    background-color: #222;
}

header {
    background-color: white;
}

.logo-header {
    height: 80px;
}

a {
    text-decoration: none;
}

.links-div > a {
    color: #222;
}

#jumbo-section {
    height: 450px;
    position: relative;
}

.jumbo-img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: top;
}

.jumbo-text {
    padding: 15px 10px 15px 10px;
    position: absolute;
    top: 420px;
    left: 400px;
    background-color: #027fc7;
    font-weight: bold;
    color: white;
    font-size: 25px;
}

.card-image {
    width: 200px;
    height: 200px;
}
.img-badge {
    width: 60px;
}

#infos-section {
    background-color: #027fc7;
    position: relative;
}

.badge-description {
    color: white;
    margin: 0px 0px 0px 10px;
}

#infos-section:before {
    content: "";
    background-color: #027fc7;
    position: absolute;
    height: 100%;
    width: 153vw;
    left: -1998px;
    top: 0;
    z-index: -1;
}

.upper-footer {
    background-image: url(../img/footer-bg.jpg);
    font-size: 0.8rem;
}

.upper-footer li {
    cursor: pointer;
}

.footer-dc-logo {
    background-image: url(../img/dc-logo-bg.png);
    width: 350px;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: contain;
}

.lower-footer {
    background-color: #303030;
}

.btn.btn-sign-up {
    border: 3px solid #0282f9;
    color: white;
    border-radius: 0;
}

.eh-volevi {
    width: 48vw;
}
